html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;

    height: 100%;
}

.main-header{
    width: 100%;
    height: 100vh;

    background-image: url('../images/main-bg.jpg');
    background-size: cover;
    position: relative;

}

.navigasi{
    width: 100%;
    height: 75px;
    background-color: black;
    opacity: 0.70;

    padding-left: 50px;
    padding-top: 20px;
    color: cornsilk;
    font-weight: bold;

    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;

}

b{
    margin-left: 60px;
    padding-top: 20px;
    color: cornsilk;
    font-weight: bold;

    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
}
.menu{
    color: cornsilk;
    right: 0;

    overflow: hidden;
    float: right;
    margin-left: 350px;
    padding-top: 25px;
    font-size: x-small;
}

a{
    text-decoration: none;
    color:cornsilk;
    margin-right: 60px;
}

.data{
    color: cornsilk;
    right: 0px;

    overflow: hidden;
    float: right;
    margin-left: 350px;
}

c{
    text-decoration: none;
    color:cornsilk;
    margin-right: 30px;
}

.thegames{ 
    width: 100%;
    height: 100vh;

    background-image: url('../images/the-games-bg.jpg');
    background-size: cover;
    position: relative;

}